<div class="main-content">
  <div class="status-all">
    <div class="status-content-all">
      <div class="status-items">
        <span><img src="../assets/image/STATUS.png" alt=""></span>
        <span>{{ all[0].status | uppercase }}</span>
      </div>
      <div class=" status-info-labels">
        <span class="status-label">{{ all[0].so }} <b>#SO</b></span>
        <span class="status-label">{{ all[0].soLine }} <b>#SO Lines</b></span>
      </div>
    </div>
  </div>
  <p-carousel [value]="filterContent" [numVisible]="4" [numScroll]="2" [circular]="false">
    <ng-template let-data pTemplate="item">
      <div [ngClass]="data.statusFlag == 'N' ? 'status-n' : 'status-y'">
        <div [ngClass]="data.statusFlag == 'N' ? 'status-content-n' : 'status-content-y'">
          <div class="status-items">
            <span><img
                src="{{ data.statusFlag == 'N' ? '../assets/image/hand-receive-package-blue.png' : '../assets/image/hand-receive-package-pink.png' }}"
                alt=""></span>
            <span [ngClass]="data.statusFlag == 'N' ? 'status-items-label-n' : 'status-items-label-y'">{{ data.status |
              uppercase }}</span>
          </div>
          <div class="status-info-labels">
            <span class="status-label">{{ data.so }} <b>#SO</b></span>
            <span class="status-label">{{ data.soLine }} <b>#SO Lines</b></span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>